body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

.img-up {
  position: absolute;
  top: 0;
  left: 10vw;
}

.img-left-down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10vw;
  height: 20vh;
}

.content {
  margin-left: 10vw;
  margin-top: 15%;
  margin-right: 10%;
}

.content p {
  color: #3c3f59;
  word-break: break-all;
}

.bolder {
  font-weight: "700";
}

.demi-circle {
  position: absolute;
  top: 11.5%;
  width: 35vw;
  height: 30vh;
  right: 15vh;
}

.square-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30vh;
  height: 30vh;
}

.coming-soon {
  font-size: 30px;
  color: #3c3f59;
}

.social {
  display: flex;
  margin-top: 50px;
}

.social a {
  margin-right: 30px;
  color: #000000;
}

@media (max-width: 1024px) {
  .demi-circle {
    height: 15vh;
    width: 35vw;
    top: 25vh;
    right: 5vw;
  }

  .content {
    margin-top: 30vh;
  }
}

@media (max-width: 768px) {
  .content {
    margin-top: 20%;
    margin-left: 10%;
  }

  .content p {
    font-size: 13px;
  }

  .coming-soon {
    font-size: 18px;
  }

  .img-up {
    left: 10%;
    width: 30vw;
  }

  .logo {
    width: 100px;
    margin-top: 30px;
  }

  .img-left-down {
    width: 15%;
    height: 10vh;
  }

  .social {
    margin-top: 20px;
  }

  .demi-circle {
    width: 50vw;
    height: 10vh;
    top: 55vh;
  }

  .square-bottom {
    width: 35vw;
    height: 35vw;
  }
}
